<div id="nav-bar">
    <a class="nav-logo" href="#home">Scupids</a>
    <ul class="nav-sections hide">
        <li><a href="#wwa">Who we are</a></li>
        <li><a href="#wwd">What we do</a></li>
        <li><a href="#contact">Contact Us</a></li>
    </ul>
</div>
<div class="content">
    <section id="home" class="hero-section cover">
        <div class="hero-content">
            <div class="hero-brand">Scupids</div>
            <blockquote>
                <p>
                    Sometimes a man wants to be stupid if it lets him do a thing his cleverness forbids.
                </p>
                <span class="quote-cite">― John Steinbeck, East of Eden</span>
            </blockquote>
        </div>
        <a class="explore hide" href="#wwa">Explore</a>
        <a class="photo-credit" target="_blank" href="https://www.facebook.com/Elisphotography">Photo by: Eli Ditmore</a>
    </section>
    <section id="wwa" class="hero-section wwa hide"></section>
    <section id="wwd" class="hero-section wwd hide"></section>
    <section id="contact" class="hero-section contact hide"></section>
</div>

{{yield}}
