<a class="nav-logo" data-scroll href="#home">Scupids</a>
<ul class="nav-sections">
    <li><a data-scroll href="#wwa">Who we are</a></li>
    <li><a data-scroll href="#wwd">What we do</a></li>
    <li><a data-scroll href="#team">Team</a></li>
</ul>
{{yield}}
