<a class="nav-logo" data-scroll href="#home">Scupids</a>
<div class="ham-nav"  {{action "toggleNav" on="click"}}>{{fa-icon icon="bars"}}</div>
<ul class="nav-sections">
    <li><a data-scroll="wwa" href="#wwa">Who we are</a></li>
    <li><a data-scroll="wwd" href="#wwd">What we do</a></li>
    <li><a data-scroll="team" href="#team">Team</a></li>
    <li><a data-scroll="team" href="#footer">Connect with us</a></li>
</ul>
{{yield}}
