<div class="social-bar foot-section">
    <a href="https://www.facebook.com/thescupids/" target="_blank">{{fa-icon icon="facebook"}}</a>
    <a href="https://twitter.com/TheScupids" target="_blank">{{fa-icon icon="twitter"}}</a>
</div>
<div class="foot-note foot-section">
    © 2015 Scupids, Inc.
</div>
{{yield}}
