<div class="hero-content reveal">
    <div class="hero-brand">Scupids</div>
    <blockquote>
        <p>
            Sometimes a man wants to be stupid if it lets him do a thing his cleverness forbids.
        </p>
        <span class="quote-cite">― John Steinbeck, East of Eden</span>
    </blockquote>
</div>
<a class="explore" data-scroll href="#team">Explore</a>
<a class="photo-credit" target="_blank" href="https://www.facebook.com/Elisphotography">Photo by: Eli Ditmore</a>
{{yield}}
