<div class="hero-content reveal">
    <div class="hero-brand">Scupids</div>
    <blockquote>
        <p>
            Once you have tasted flight, you will forever walk the earth with your eyes turned skyward, for there you have been, and there you will always long to return.
        </p>
        <span class="quote-cite">― Leonardo da Vinci</span>
    </blockquote>
</div>
<a class="explore" data-scroll href="#wwa">
    {{fa-icon icon="chevron-down"}}
</a>
<a class="photo-credit hide" target="_blank" href="https://www.facebook.com/Elisphotography">Photo by: Eli Ditmore</a>
{{yield}}
