<article class="w-w-d">
  <h1>WHAT WE DO</h1>
    <div class="w-w-d-p"></div>
     <div class="w-w-d-c">
        <p class="w-w-d">We do what we love and so we love what we do.</p>
        <p class="w-w-d">
          Supertext : Supertext is like your super-cool friend who can get anything done for you in a breeze. </p>
        <p class="w-w-d">
           It’s a one-point portal for multiple on-demand services via conversational platforms. </p>
        <p class="w-w-d">In short, you say and it’s done. </p>
        <p classs="w-w-d">Scupids primarily handles the technology that drives the core of Supertext.</p>
     </div>
</article>
{{yield}}