<div class="section-graphic vc"></div>
<div class="section-desc vc">
    <div class="section-title">What we do?</div>
    We do what we love and so we love what we do.<br><br><b>Supertext</b> : Supertext is like your super-cool friend who can get anything done for you in a breeze. It’s a one-point portal for multiple on-demand services via conversational platforms. In short, you say and it’s done. Scupids primarily handles the technology that drives the core of Supertext.
</div>
{{yield}}
