<article class="zigzag w-w-r">
<div class="w-w-r-c">
<h1>We Are ...</h1>
<p class="w-w-r">
    Bunch of idiots trying to do what we ‘should’ not be doing.</p>
<p class="w-w-r">We were earlier called Software Engineers, but we felt we should be called something more stupid; </p>
<p class="w-w-r">hence Scupids.
</p>
</div>
</article>
{{yield}}