<div class="section-graphic vc"></div>
<div class="section-desc vc">
    We Are ...Bunch of idiots trying to do what we ‘should’ not be doing. We were earlier called Software Engineers, but we felt we should be called something more stupid; hence Scupids.
</div>
{{yield}}
