<div class="section-graphic vc"></div>
<div class="section-desc vc">
    <div class="section-title">Who we are?</div>
    We are bunch of idiots trying to do what we ‘should’ not be doing. We were earlier called Software Engineers, but we felt we should be called something more stupid; hence Scupids.
</div>
{{yield}}
